@import url('https://fonts.googleapis.com/css?family=Geostar&display=swap');
.page-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

body, html {
  height: 100vh;
  background: rgb(247, 247, 247);
  background: radial-gradient(circle, rgba(247, 247, 247, 1) 0%, rgba(66, 182, 244, 1) 100%);
  overflow: auto;
}

.container-bg {
  background-color: whitesmoke;
  box-shadow: -16px 0px 20px 0px #3e4551, 16px 0px 20px 0px #3e4551;
}

.productsContainer-bg {
  background-color: whitesmoke;
  box-shadow: -16px 0px 20px 0px #3e4551, 16px 0px 20px 0px #3e4551;
  min-height: 80vh;
}

.navbar-brand {
  font-family: 'Geostar';
  border: 2px solid white;
  padding: 2px;
}

h2, p {
  font-family: Montserrat;
}

.card {
  margin-top: 15px;
  margin-bottom: 15px;
}

.sort {
  margin-right: 100px;
}

/* Home Page */

.homeContainer {
  min-height: 100vh;
}

/* Cart */

.cartContainer {
  min-height: 100vh;
}

/* Checkout */

.checkoutContainer {
  /* min-height: 100vh; */
  flex: 1;
}

.checkoutContainer input {
  border-top: 0px;
  border-right: 0px;
  border-bottom: 2px solid grey;
  border-left: 0px;
  width: 90%;
  margin: 15px;
}

.checkoutContainer h2 {
  font-weight: 350;
  padding: 10px;
  margin: 15px;
  border-radius: 15px;
}

.paymentInfo {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  /* margin: 10px; */
}

.paymentInfo input {
  margin-bottom: 50px;
}

.paymentInfo select {
  margin-bottom: 30px;
}

.cardNumber {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.cardNumber select {
  height: 19%;
  border: 1px solid grey;
  color: grey;
  min-width: 18%;
  max-width: 18%;
}

.cardNumber input {
  width: 68%;
}

.expCvv {
  display: flex;
}

.expCvv input {
  width: 41%;
}

/* Shipping info */

.shippingInfo {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  /* margin: 10px; */
}

.shippingInfo input {
  margin-bottom: 50px;
}

.shippingInfo select {
  margin-bottom: 30px;
}

.streetAndApt {
  display: flex;
}

.streetAndApt input {
  width: 52%;
}

#aptNum {
  width: 30%;
}

.stateAndCity {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.stateAndCity select {
  height: 19%;
  border: 1px solid grey;
  color: grey;
  min-width: 18%;
  max-width: 18%;
}

.stateAndCity input {
  width: 68%;
}

.countryAndZip {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.countryAndZip select {
  height: 15%;
  border: 1px solid grey;
  color: grey;
  min-width: 61%;
  max-width: 61%;
  margin-left: 13px;
}

#zip {
  width: 25%;
}

/* Order info */

.orderInfo {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

.orderDetails {
  overflow: scroll;
  width: 100%;
  max-height: 350px;
  min-height: 350px;
  background-color: whitesmoke;
}

.tableDiv {
  overflow: scroll;
  width: 90%;
  max-height: 350px;
  min-height: 350px;
}

.orderDetails tr, .orderDetails tr td {
  vertical-align: 0%;
}

.completePurchase {
  margin-top: 25px;
  height: 50px;
  width: 90%;
  border-radius: 10px;
  background-color: #4285f4;
  color: white;
}

.completePurchase:hover {
  box-shadow: 0px 0px 10px grey;
  filter: brightness(85%);
}

/* Admin page */

.adminProductsCard, .adminContactsCard {
  overflow: scroll;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactsTable, .productTable {
  width: 100%;
}

.adminContainer .card {
  min-width: 100%;
}

.adminContainer {
  min-height: 100vh;
}

.adminProductDiv, .adminContactsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.adminProductsTableHead, .adminProductsTableProduct, .adminContactsTableHead, .adminContactsTableContact {
  padding: 5px;
  border-right: 1px solid grey;
  border-bottom: 2px solid grey;
}

.adminProductsTableHead, .adminContactsTableHead {
  font-weight: bold;
}

#adminProductsTableType, #adminContactsTableMessage {
  border-right: 0px;
}

.contactsRow:hover {
  filter: brightness(85%);
  background-color: lightgrey;
}

.selectedRow {
  background-color: grey;
}

.deleteContactBtn {
  margin-top: 25px;
  height: 50px;
  width: 90%;
  border-radius: 10px;
  background-color: #4285f4;
  color: white;
}

.deleteContactBtn:hover {
  filter: brightness(85%);
  box-shadow: 0px 0px 10px grey;
}

.serverResponseMessage {
  margin: 15px;
}

/* Login */

.loginContainer {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loginCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loginUser, .loginPass {
  width: 90%;
  margin: 20px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 2px solid grey;
  border-left: 0px;
}

.loginBtn {
  margin-top: 25px;
  height: 50px;
  width: 90%;
  border-radius: 10px;
  background-color: #4285f4;
  color: white;
}

.loginBtn:hover {
  box-shadow: 0px 0px 10px grey;
  filter: brightness(85%);
}

.goodLoginText {
  color: green;
  margin: 15px;
}

.badLoginText {
  color: red;
  margin: 15px;
}

/* Footer */
.socialMediaIcon {
  font-size: 28px; 
}