@import url('https://fonts.googleapis.com/css?family=Geostar&display=swap');

.page-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
 }

body, html {
    height: 100vh;
    background: rgb(247, 247, 247);
    background: radial-gradient(circle, rgba(247, 247, 247, 1) 0%, rgba(66, 182, 244, 1) 100%);
    overflow: auto;
    
}

.container-bg {
    background-color: whitesmoke;
    height: 100%;
    box-shadow: -16px 0px 20px 0px #3e4551, 16px 0px 20px 0px #3e4551;

}
.navbar-brand{
    font-family: 'Geostar';
    border: 2px solid white;
    padding: 2px;
}
h2, p {
    font-family: Montserrat;
}
.card {
    margin-top: 15px;
    margin-bottom: 15px;
}
.sort{
    margin-right: 100px;
}